<html><head>
  <link rel="stylesheet" type="text/css" href="https://cdn.sstatic.net/Shared/stacks.css?v=13d89c0c9941">
  <link rel="stylesheet" type="text/css" href="https://cdn.sstatic.net/Sites/stackoverflow/primary.css?v=3ee6b4089de6">
  <link rel="stylesheet" type="text/css" href="https://cdn.sstatic.net/Sites/stackoverflow/secondary.css?v=772da3761360">
</head>
<body class="universal-auth-page unified-theme floating-content">
<header class="top-bar js-top-bar top-bar__network _fixed">

  <!-- THIS IS THE MENU -->
  <div class="wmx12 mx-auto grid ai-center h100" role="menubar">
  <div class="-main grid--cell">
    <a href="https://stackoverflow.com" class="-logo">
        <span class="-img _glyph">Stack Overflow</span>
    </a>
  </div>
    <ol class="list-reset grid gs4" role="presentation">
            <li class="grid--cell md:d-none">
                <a href="/company" class="-marketing-link">About</a>
            </li>
                <li>
                  <a class="-marketing-link" routerLink="/home">Questions</a>
                </li>
                <li>
                  <a class="-marketing-link" routerLink="/login">Login</a>
                </li>

        <li class="grid--cell">
            <a href="#" class="-marketing-link">
                Products
            </a>
        </li>
            <li class="grid--cell md:d-none">
                <a href="/teams" class="-marketing-link" >For Teams</a>
            </li>

    </ol>
</div>
</header>

<!-- main content container -->
<div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-sm-8 offset-sm-2">
              <router-outlet></router-outlet>
          </div>
      </div>
  </div>
</div>
</body>
</html>
