
<br>

<div class="intro">
  <h1>How to call an Odoo Controller function from JS file</h1>
  <h4>Asked today Active today Viewed 13 times</h4>
  <hr>
</div>
<br>

<div class="vote">
  <p class="likes">{{ numberOfLikes }}</p>
</div>
<br>
<div class="like" (click)="likeButtonClick()">
</div>
<br>
<div class="dlike" (click)="dislikeButtonClick()">
</div>
<br>
<div class="text">
  <!-- <pre><code>
      #include<conio.h>
          void main(){
            print("Hello");
          }
  </code></pre> -->
    <p>
    How to pull the data from a table<br>and put in website<br>
    How to pull the data from a table<br>and put in website<br>
    How to pull the data from a table<br>and put in website<br>
    How to pull the data from a table<br>and put in website<br>
    How to pull the data from a table<br>and put in website<br>
    How to pull the data from a table<br>and put in website<br>
    How to pull the data from a table<br>and put in website<br>
  </p>

</div>

<!-- SIDE MENU -->


<div class="left-sidebar--sticky-container" style="width: 100px; right:10px;">
  <nav role="navigation">
      <ol class="nav-links">
  <li class="">
      <a href="/" class="pl8 js-gps-track nav-links--link" data-gps-track="top_nav.click({is_current:false, location:2, destination:8})">
Home            </a>
  </li>
<li>
<ol class="nav-links">
      <li class="fs-fine tt-uppercase ml8 mt16 mb4 fc-light">Public</li>
        <li class=" youarehere">
      <a id="nav-questions" href="/questions" class="pl8 js-gps-track nav-links--link -link__with-icon" data-gps-track="top_nav.click({is_current:true, location:2, destination:1})">
<svg aria-hidden="true" class="svg-icon iconGlobe" width="18" height="18" viewBox="0 0 18 18"><path d="M9 1a8 8 0 100 16A8 8 0 009 1zM8 15.32a6.4 6.4 0 01-5.23-7.75L7 11.68v.8c0 .88.12 1.32 1 1.32v1.52zm5.72-2c-.2-.66-1-1.32-1.72-1.32h-1v-2c0-.44-.56-1-1-1H6V7h1c.44 0 1-.56 1-1V5h2c.88 0 1.4-.72 1.4-1.6v-.33a6.4 6.4 0 012.32 10.24v.01z"></path></svg>                    <span class="-link--channel-name">Stack Overflow</span>
      </a>
  </li>
  <li class="">
      <a class=" js-gps-track nav-links--link">Tags</a>
  </li>
  <li class="">
      <a class=" js-gps-track nav-links--link">Users</a>
  </li>
  <li class="fs-fine tt-uppercase ml8 mt16 mb4 fc-light">Find a Job</li>
  <li class="">
      <a id="nav-jobs" class=" js-gps-track nav-links--link">Jobs</a>
  </li>
  <li class="">
      <a id="nav-companies">Companies</a>
  </li>
      </ol>
        </li>
          </ol>
  </nav>
</div>



<!-- NOTEPAD -->
<div id="sidebar" class="show-votes" role="complementary" aria-label="sidebar">

  <div class="s-sidebarwidget s-sidebarwidget__yellow s-anchors s-anchors__grayscale mb16" data-tracker="cb=1">
      <ul class="d-block p0 m0">
                      <div class="s-sidebarwidget--header s-sidebarwidget__small-bold-text fc-light d:fc-black-900 bb bbw1">
                          The Overflow Blog
                      </div>
          <li class="s-sidebarwidget--item grid px16">
              <div class="grid--cell1 fl-shrink0">
  <svg aria-hidden="true" class="va-text-top svg-icon iconPencilSm" width="14" height="14" viewBox="0 0 14 14"><path d="M11.1 1.71l1.13 1.12c.2.2.2.51 0 .71L11.1 4.7 9.21 2.86l1.17-1.15c.2-.2.51-.2.71 0zM2 10.12l6.37-6.43 1.88 1.88L3.88 12H2v-1.88z"></path></svg>            </div>
              <div class="grid--cell">
                  <a href="https://stackoverflow.blog/2020/09/01/podcast-265-the-tiny-open-source-pillar-holding-up-the-entire-internet/?cb=1" class="js-gps-track" data-ga="[&quot;community bulletin board&quot;,&quot;The Overflow Blog&quot;,&quot;https://stackoverflow.blog/2020/09/01/podcast-265-the-tiny-open-source-pillar-holding-up-the-entire-internet/&quot;,null,null]" data-gps-track="communitybulletin.click({ priority: 1, position: 0 })">Podcast 265: the tiny open-source pillar holding up the entire internet</a>
              </div>
          </li>
          <li class="s-sidebarwidget--item grid px16">
              <div class="grid--cell1 fl-shrink0">
  <svg aria-hidden="true" class="va-text-top svg-icon iconPencilSm" width="14" height="14" viewBox="0 0 14 14"><path d="M11.1 1.71l1.13 1.12c.2.2.2.51 0 .71L11.1 4.7 9.21 2.86l1.17-1.15c.2-.2.51-.2.71 0zM2 10.12l6.37-6.43 1.88 1.88L3.88 12H2v-1.88z"></path></svg>            </div>
              <div class="grid--cell">
                  <a href="https://stackoverflow.blog/2020/09/02/if-everyone-hates-it-why-is-oop-still-so-widely-spread/?cb=1" class="js-gps-track" data-ga="[&quot;community bulletin board&quot;,&quot;The Overflow Blog&quot;,&quot;https://stackoverflow.blog/2020/09/02/if-everyone-hates-it-why-is-oop-still-so-widely-spread/&quot;,null,null]" data-gps-track="communitybulletin.click({ priority: 1, position: 1 })">If everyone hates it, why is OOP still so widely spread?</a>
              </div>
          </li>
                      <div class="s-sidebarwidget--header s-sidebarwidget__small-bold-text fc-light d:fc-black-900 bb bbw1">
                          Featured on Meta
                      </div>
          <li class="s-sidebarwidget--item grid px16">
              <div class="grid--cell1 fl-shrink0">
  <div class="favicon favicon-stackexchangemeta" title="Meta Stack Exchange"></div>            </div>
              <div class="grid--cell">
                  <a href="https://meta.stackexchange.com/questions/353446/new-post-formatting?cb=1" class="js-gps-track" data-ga="[&quot;community bulletin board&quot;,&quot;Featured on Meta&quot;,&quot;https://meta.stackexchange.com/questions/353446/new-post-formatting&quot;,null,null]" data-gps-track="communitybulletin.click({ priority: 3, position: 2 })">New post formatting</a>
              </div>
          </li>
          <li class="s-sidebarwidget--item grid px16">
              <div class="grid--cell1 fl-shrink0">
  <div class="favicon favicon-stackexchangemeta" title="Meta Stack Exchange"></div>            </div>
              <div class="grid--cell">
                  <a href="https://meta.stackexchange.com/questions/353492/hot-meta-posts-allow-for-removal-by-moderators-and-thoughts-about-future-impro?cb=1" class="js-gps-track" title="Hot Meta Posts: Allow for removal by moderators, and thoughts about future improvements" data-ga="[&quot;community bulletin board&quot;,&quot;Featured on Meta&quot;,&quot;https://meta.stackexchange.com/questions/353492/hot-meta-posts-allow-for-removal-by-moderators-and-thoughts-about-future-impro&quot;,null,null]" data-gps-track="communitybulletin.click({ priority: 3, position: 3 })">Hot Meta Posts: Allow for removal by moderators, and thoughts about future…</a>
              </div>
          </li>
          <li class="s-sidebarwidget--item grid px16">
              <div class="grid--cell1 fl-shrink0">
  <div class="favicon favicon-stackoverflowmeta" title="Meta Stack Overflow"></div>            </div>
              <div class="grid--cell">
                  <a href="https://meta.stackoverflow.com/questions/400801/new-features-on-stack-overflow-jobs-company-updates-follow-and-ads?cb=1" class="js-gps-track" data-ga="[&quot;community bulletin board&quot;,&quot;Featured on Meta&quot;,&quot;https://meta.stackoverflow.com/questions/400801/new-features-on-stack-overflow-jobs-company-updates-follow-and-ads&quot;,null,null]" data-gps-track="communitybulletin.click({ priority: 6, position: 4 })">New Features on Stack Overflow Jobs: Company Updates, Follow, and Ads</a>
              </div>
          </li>
      </ul>
  </div>
